html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(valute-bg.jpg);
  background-size: cover;
  background-position: center;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
};